/*重置样式*/
@layer reset {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;font-style: normal;box-sizing: border-box;-webkit-touch-callout: none;}
  html, body {/*font-size: clamp(12px, calc(100vw / 7.5), 20px);*/width: 100%;height: 100%;-ms-text-size-adjust: 100%;text-size-adjust: 100%;-webkit-text-size-adjust: 100% !important;font-family: "Roboto", "Open Sans", "PingFang", "PingFang SC", "PingFang HK", "PingFang TC", "Microsoft YaHei", "Microsoft JhengHei", "Helvetica Neue", '\5FAE\8F6F\96C5\9ED1', Arial, '\9ED1\4F53', '\5B8B\4F53', Helvetica, sans-serif;}
  iframe, a, img {border: none;}
  img{max-width: 100%;object-fit: cover;}
  video {object-fit: fill}
  a, a:hover, a:visited, a:active {text-decoration: none;color: inherit;-webkit-tap-highlight-color: transparent;tap-highlight-color: transparent;/*ios下点击闪现灰色半透明背景*/}
  ol, ul {list-style-type: none;}
  ul li, ol li {list-style: none;}
  h1, h2, h3 {font-weight: normal;}
  table {border-collapse: collapse;}
  button, input, select, textarea {font: inherit;outline: none;border: none;box-sizing: border-box;border-radius: 0;-webkit-tap-highlight-color: transparent;tap-highlight-color: transparent;/*appearance: none;*/background: none;line-height: normal;-webkit-writing-mode: horizontal-tb;resize: none;color: inherit;white-space: pre-wrap;word-wrap: break-word;-webkit-rtl-ordering: logical;user-select: text}
  input::-webkit-inner-spin-button, input::-webkit-outer-spin-button, input::-webkit-search-cancel-button, input::-webkit-clear-button {-webkit-appearance: none !important;}  /*移除表单默认样式*/
  input[type=file] {position: absolute;top: 0;left: 0;bottom: 0;right: 0;opacity: 0;width: 100%;height: 100%;cursor: pointer;}
  .disabled{pointer-events: none;}
  @supports (bottom: constant(safe-area-inset-bottom)) or (bottom: env(safe-area-inset-bottom)) { body{padding-bottom: constant(safe-area-inset-bottom); padding-bottom: env(safe-area-inset-bottom);} } /* IphoneX 底部兼容 */
  #app{width: 100%;height: 100%;background: var(--xh-bg-active);}
}
/*基础样式*/
@layer layout {
  .flex, .flexv, .flexitem, .flexitemv{display: flex;}
  .flexv, .flexitemv{flex-direction: column;}  /*垂直排列*/
  .flexitem, .flexitemv{flex: 1 1 auto;}
  .center, .centerv{align-items: center;}  /*垂直居中*/
  .center, .centerh{justify-content: center;}  /*水平居中*/
  .end, .endh{justify-content: flex-end;}  /*水平向右*/
  .end, .endv{align-items: flex-end;}  /*垂直向下*/
  .justify{justify-content: space-between;}  /*两端对齐*/
  .aroundh, .aroundv{justify-content: space-around;}  /*等间距*/
  .shrink{flex-shrink: 0;/*防止内容被挤压*/}
  .nobr{flex-wrap: nowrap}
  .wrap{flex-wrap: wrap; align-content: flex-start;}  /* 换行 */
  .fitimg, .radimg, .contimg {width: 100%; height: 100%; object-fit: cover}
  .radimg, .circle {border-radius: 50%; overflow: hidden;}
  .contimg {object-fit: contain;}
  .ellipsis {display: -webkit-box;-webkit-box-orient: vertical;flex: 1 1 auto;-webkit-line-clamp: 1;text-align: start;word-wrap: break-word;white-space: pre-wrap;word-break: break-all;overflow: hidden;}
  .mainbox {position: relative; overflow-x: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch;}
}
/* loading */
@keyframes v-spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
.loading-mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border-radius: inherit;
  .loading-spinner {
    width: 30px;
    height: 30px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #007bff;
    border-radius: 50%;
    animation: v-spin 1s linear infinite;
  }
}